@import "../../assets/sass/mixin";
@import "../../assets/sass/variables";
.sortingicon {
  width: 11px;
  margin-left:5px;
  margin-top:-8px;

  p{
    display: block;
    height: 10px;
    &.active {
      i.fa {
        color: #fff;
      }
    }
  }

  i.fa {
    color: #888;
    @include font-size(20);
    cursor: pointer;

    &:hover{
      color: #fff;
    }    
  }
}